
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model btlAspNetCore.Models.DataModels.ChangePasswordViewModel

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Change Password</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Breadcrumb Section End -->
<section style="background-color: #f7f7f7;">
        <div class="container">


            <div class="row">
                <div class="col-lg-6 m-auto ">
                    <div class="card p-5">
                        <h3 class="text-center">
                            Thay đổi mật khẩu
                        </h3>
                        <form method="POST" action="" class="p-4">
                        <input type="hidden" asp-for="UserId" />                             
                        <div class="form-group">
                            <label for="passwordOld">PasswordOld</label>
                            <input type="password" asp-for="PasswordOld" class="form-control" />
                            <span asp-validation-for="PasswordOld" class="text-danger"></span>
                                   
                             </div>
                        <div class="form-group">
                             <label for="password">New Password</label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                             <div class="form-group">
                            <label for="repassword">Confirm Password</label>
                            <input type="password" asp-for="Repassword" class="form-control" />
                            <span asp-validation-for="Repassword" class="text-danger"></span>
                             </div> 
                            <button type="submit" class="btn btn-success w-100 mt-3">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}